<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#{{ all_publisher }} 接收的是后台数据库传过来的数据#}

<form action="" method="post">
    <table border="1">
        <tr>
            <th>序号</th>
            <th>ID</th>
            <th>出版社</th>
            <th>操作</th>
        </tr>
        {% for publish in all_publisher %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ publish.pid }}</td>
                <td>{{ publish.name }}</td>
                <td>
                    <a href="/del_publisher/?id={{ publish.pid }}">删除</a>
                    <a href="/edit_publisher/?id={{ publish.pid }}">编辑</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="/add_publisher/">增加出版社</a>
    {# 点击a标签就又发送了一次get请求 就会去找对应的url和地址#}
</form>
</body>
</html>