{% extends 'public.html' %}

{% block public %}
    {% load static %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">爱心⭐相册</h1>

        <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="{% static '/img/yichen.jpg' %}" width="200" height="200" class="img-responsive"
                     alt="Generic placeholder thumbnail">
                <h4>Mrs.dan001</h4>
                <span class="text-muted">beautiful</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="{% static '/img/IMG_0088.JPG' %}" width="200" height="200" class="img-responsive"
                     alt="Generic placeholder thumbnail">
                <h4>Mrs.dan002</h4>
                <span class="text-muted">beautiful</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="{% static '/img/IMG_0091.JPG' %}" width="200" height="200" class="img-responsive"
                     alt="Generic placeholder thumbnail">
                <h4>Mrs.dan003</h4>
                <span class="text-muted">beautiful</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
                <img src="{% static '/img/yidan.JPEG' %}" width="200" height="200" class="img-responsive"
                     alt="Generic placeholder thumbnail">
                <h4>Mrs.dan004</h4>
                <span class="text-muted">beautiful</span>
            </div>
        </div>
        {#        <h2 class="sub-header">显示信息</h2>#}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" href="/publisher_system/">出版社列表</h3>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        {#                    <th>ID</th>#}
                        <th>出版社</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for publish in all_publisher %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {#                <td>{{ publish.pid }}</td>#}
                            <td>{{ publish.name }}</td>
                            <td>
                                <a href="/del_publisher/{{ publish.pid }}">删除</a>
                                <a href="/edit_publisher/{{ publish.pid }}">编辑</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <a href="/add_publisher/" class="btn btn-primary">增加出版社</a>
                </table>
            </div>
        </div>
        {% load my_tags %}
        {% page 10 %}
{##}
{#        {% load my_tags %}#}
{#        {% sqr_list 3 %}#}
    </div>

{% endblock %}